/*img {
  height: 8em !important;
  width: 9em !important;
  margin-left: -2em !important;
  border-radius: 3em !important;
  padding: 0 !important;
}*/

i {
  font-size: 46px !important;
  /*padding: 40px 50px 0 50px;*/
  padding: 10px 50px 0 50px;
  text-decoration-line: none !important;


}

 /*.grow2, i {
  text-decoration: un !important;

}*/

/*a:link {
  text-decoration: underline;
  color: black;
}*/
a {
  text-decoration-line: none !important;
}

#shapeHolder {
  margin-left: 10em;
  position: relative;
  padding-top: 20em;
}
.container2{
  height: 180px;
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}

.square{
  height: 94%;
  width: 94%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -47% 0 0 -47%;
}

.black{
  background: black;
  animation: rotate 13s infinite linear;
}

@keyframes rotate{
  0%{ transform: rotate(90deg); }
	100%{ transform: rotate(180deg); }
}/* custom styles */
